<style>
    body{
        background: -webkit-linear-gradient(45deg, #52be97, #2a80b7);
        background: -o-linear-gradient(45deg, #52be97, #2a80b7);
        background: -moz-linear-gradient(45deg, #52be97, #2a80b7);
        background: linear-gradient(45deg, #52be97, #2a80b7);

    }
    section {
        display: block;
        /*max-width: 500px;*/
        margin: 0 auto 1em;
        height: 100%;
        border-radius: .2em;
        position: relative;
        color: white;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        transform-style: preserve-3d;
        text-align: center;
    }
    section img, section p, section h2 {
        padding: 1em;
        margin: 0;
    }
    .text p, .text h2 {
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    h2 {
        /*margin: 0;*/
        font-size: 16px;
        /*position: absolute;*/
        /*top: 5px;*/
        /*right: 5px;*/
        font-weight: bold;
        color: #ECF0F1;
    }
</style>

<section class="text">
    <h2>Your Account has been verified !</h2>
    <p>Thank you for Using FinSign App.</p>
    <p><a href="<%= signin %>">Signin</a></p>
</section>