<table>
    <tr>
        <td>
            <img src="examples/brand.png">
        </td>
        <td>
            <h2>Hello <%= clientName %></h2>
            <br/>

            <br/>
            The documents that you signed are already available for download in case you want to keep a version in under
            your possessiona.
            <br/>
            <br/>
            <br/>
            <b><%= title %></b><a href="" style="text-decoration: underline; color: blue;">[download]</a>
            <br/>
            <br/>
            <h4>Best Regards</h4>
            <br/>
            <br/>
            <%= professional %>
            <div> Professional</div>
        </td>
    </tr>
</table>

